.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.menu {
  width: 100%;
  height: 100px;
  padding-top: 30px;
  padding-right: 10px;
  padding-left: 10px;
}
