.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.menu {
  width: 100%;
  height: 50px;
  padding-top: 30px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  &__item {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  &__label {
    width: fit-content;
  }
  &__input {
    width: fit-content;
  }
}
.btn {
  width: 40px;
  height: 40px;
  font-size: 25px;
}

.field {
  max-width: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: fit-content;
  height: fit-content;
  gap: 6px;
}
